<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Elejí una Liga</title>
        <meta charset="UTF-8"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" ></link>
        <link rel="stylesheet" href="../homeStyle.css"></link>
        <link rel="icon" type="image/png" href="../pelota.png"></link>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="../homeScript.js"></script>
    </head>

    <body>
        <div id="BloqueDeBotones" class="btn-group-vertical container">
            <div id="titulo">Seleccionar Liga: </div>
            <!-- las <form> respectivas a cada boton son definidas en homerScript.js --> 
            <button id="PD" type="submit">España</button>
            <button id="PL" type="submit">Inglaterra</button>
            <button id="FL1" type="submit">Francia</button>
            <button id="SA" type="submit">Italia</button>
            <button id="BL1" type="submit">Alemania</button>
            <button id="PPL" type="submit">Portugal</button>
            <button id="DED" type="submit">Holanda</button>
            <button id="BSA" type="submit">Brasil</button>
        </div>

    </body>

</html>
